:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: Y10, D10-20, D20;
}

.starsContainer {
  display: inline-block;
}

.star {
  -st-states: filled, empty, readOnly, hovered;
  margin-right: 6px;
}

.starsContainer > *:last-child {
  margin-right: 0;
}

.star:filled {
  color: value(Y10);
}

.star:empty {
  color: value(Y10);
}
.star:readOnly {
  margin-right: 0;
}

.star:readOnly:empty {
  color: value(D10-20);
}

.star:hovered {
  cursor: pointer;
}

.rateCaption {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0 0 18px;
}
