:import {
  -st-from: 'wix-ui-core/hocs.st.css';
  -st-named: Focusable;
}

:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: B10, D55, D80, B20, B50, B40, F00, D10, D20, D30;
}

/* root */
.root {
  -st-states: selected, disabled;

  padding: 0;

  box-sizing: border-box;
  text-align: center;

  border: none;
  outline: none;
  transition: all 100ms linear;

  background-color: transparent;
  color: value(D10);
}

/* icon */
.icon {
  -st-extends: Focusable;
  -st-states: size;

  display: flex;
  align-items: center;

  outline: none;
  background-color: value(D80);
}

.icon:focus-visible {
  box-shadow: 0 0 0 3px value(F00);
}

.icon:size(tiny) {
  border-radius: 4px;
  padding: 3px;
}

.icon:size(small) {
  border-radius: 4px;
  padding: 6px;
}

.icon:size(medium) {
  border-radius: 6px;
  padding: 6px;
}

.icon:size(large) {
  border-radius: 6px;
  padding: 9px;
}

/* label */
.label {
  -st-states: placement(enum(tooltip, end, bottom)),
    size(enum(tiny, small, medium, large));
}

.label:placement(end):size(tiny) {
  padding: 0 3px;
}

.label:placement(end):size(small),
.label:placement(end):size(medium) {
  padding: 0 6px;
}

.label:placement(end):size(large) {
  padding: 0 9px;
}
